body {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6,a {
  font-family: 'Montserrat', sans-serif;
}

span + h2 {
  font-family: 'Fira Code', monospace; 
}

h2 > span+span{
  color: #44D073 !important;
}