html, body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6,a {
  font-family: 'Montserrat', sans-serif;
}

h3{
  font-size: 3rem;
  }

@media screen and (max-width: 768px){
  h3:not(h3.text-mobile-sm){
    font-size: 2.5rem !important;
  }
}

span + h2 {
  font-family: 'Fira Code', monospace; 
}

h2 > span+span{
  color: #44D073 !important;
}

.swiper{
  overflow-y: hidden !important;
  padding-bottom: 3rem !important;
}

.swiper-pagination {
  text-align: center;
}


.swiper-pagination-bullet {
  background: #BCBCBC !important; /* Cor normal */
  opacity: 1 !important;
  width: 12px !important;
  height: 12px !important;
}

.swiper-pagination-bullet-active {
  background: #3DA661 !important; /* Cor ativa */
}
